.sign-out-link {
    color: red;
    background-color: transparent;
    border-color: transparent;
    padding-left: 10px;
    padding-right: 10px;
}

.sign-out-link:hover {
    color: white;
    background-color: red;
    border-color: red;
    text-decoration: none;
}
