.sign-out-link {
    color: red;
    background-color: transparent;
    border-color: transparent;
}

.sign-out-link:hover {
    color: white;
    background-color: red;
    border-color: red;
    text-decoration: none;
}
