:root {
    --color-navigation-link: white;
    --color-navigation-background: transparent;
    --color-navigation-separator: transparent;
    --size-navigation-link: 20px;
    --size-navigation-separator: 1px;
    --size-navigation-padding: 25px;
    --size-navigation-underline: 2px;
}

.navigation-link {
    font-size: var(--size-navigation-link);
    padding: var(--size-navigation-padding);
    color: var(--color-navigation-link);
    border-bottom-color: transparent;
    border-bottom-style: solid;
    border-bottom-width: var(--size-navigation-underline);
}

.navigation-link:hover {
    color: var(--color-navigation-link);
    text-decoration: none;
    border-bottom-color: var(--color-navigation-link);
}

.navigation-brand {
    font-size: var(--size-navigation-link);
    color: var(--color-navigation-link);
    text-decoration: none;
    padding: var(--size-navigation-padding);
}

.navigation-brand:hover {
    color: var(--color-navigation-link);
    text-decoration: none;
    text-decoration-color: var(--color-navigation-link);
}

.navigation-container {
    background-color: var(--color-navigation-background);
    border-bottom-color: var(--color-navigation-separator);
    border-bottom-width: var(--size-navigation-separator);
    border-bottom-style: solid;
}
